@page
@model HelpModel
@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>




<div class="text-nowrap" style="width: 4rem;">
    Shop - Pagina principala. Si de aici se pot cumpara carti sau vedea detalii
</div>

<div class="text-nowrap" style="width: 8rem;">
    Books - Pagina de vizualizare detaliata a cartilor. Se pot aplica 3 filte in functie de pret, categorie
</div>

<div class="text-nowrap" style="width: 8rem;">
    Admin menu - Scroll bar. Cu ajutorul meniului de admin putem vedea istoricul comenzilor date, precum si adaugarea cartilor noi in baza de date 
</div>








